@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

body {
    background-image: url("Image/foto7.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.login-form{
    border-radius: 40px;
    height: 370px;
    width: 400px;
    margin: 100px auto;
    color: rgb(236, 231, 206);
    background:rgb(0, 0, 0);
}

.login-form h2{
    padding: 30px ;
    color: rgb(255, 255, 255);
    text-align: center;
}

.login-form .user-box{
   position: relative;
   text-align: center;
   margin-top: 15px;

}

.login-form .user-box input{
    width: 75%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    outline: none;
}

.login-form .user-box label{
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .8s;
}
.login-form .user-box input:focus~label,
.login-form .user-box input:valid~label{
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}
button{
    background-color: rgb(26, 101, 214);
    color: black;
    padding: 10px 35px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 120px;
    border: none;
}

button:hover{
    background-color: rgb(51, 50, 50);
    padding: 10px 35px;
    font-size: 13px;
    color: rgb(252, 252, 252);
}
.login-form p{
    color: white;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 14px;
}
.login-form p a{
    color: rgb(255, 255, 255);
    
}

@media only screen and (max-width: 400px){
.body{
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("Image/foto7.jpg");
}
}
  

