@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

body {
    background-image: url("Image/foto7.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}


.signup-form{
    border-radius: 80px;
    height: 700px;
    width: 500px;
    margin: 70px auto;
    color: rgb(236, 231, 206);
    background:rgb(0, 0, 0);
    opacity: 0.9;
    
}


.signup-form h2{
    margin: 20px;
    padding: 45px ;
    color: rgb(255, 255, 255);
    text-align: center;
    
  
} 

.signup-form .user-box{
    position: relative;
    text-align: center;
    
} 

.signup-form .user-box input{
    width: 80%;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
    color:white;
} 

.signup-form .user-box label{
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .8s;
}

.signup-form .user-box input:focus ~ label,
.signup-form .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: lightblue;
    font-size: 15px;
}

button{
    background-color: rgb(26, 101, 214);
    color: black;
    border-radius: 10px;
    padding: 10px 35px;
    margin-left: 195px;
    border: none;
}

button:hover{
    background-color:  rgb(128, 154, 240);
    padding: 10px 35px;
    transition: .5s;
    font-size: 13px;
    cursor: pointer;
}

p{
    margin-left: 160px;
    margin-top: 1px;
    font-size: 14px;
}

p a:hover{
    color: rgb(255, 255, 255);
}

p a{
    padding-left: 13px;
    color: #368ef3;
}

        @media only screen and (max-width: 400px){
            .body{
                background-repeat: no-repeat;
                background-size: auto;
                background-image: url("Image/foto7.jpg");
            }
}